// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Nunito:400,300,700);
// Imports
//@import "compass";
@import "partials/typography";
@import "partials/buttons";
@import "partials/colors";
@import "partials/layout";

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
a {
  color: $accent-color;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
}
a:hover, a:focus {
  color: $accent-color-hover;
  text-decoration: none;
}
body {
  font-family: $sans-serif;
  font-weight: $light;
  color: $txt-primary;
  -webkit-text-size-adjust: 100%;
  //fix for iOS
}
*:focus {
  outline: none !important;
}
ul, ol {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}
section .header {
  padding-bottom: 30px;
}
.section-padding {
  padding: $section-padding;
}
.section-border {
  border-bottom: 1px solid $keyline-color;
}
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px;
}
/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  animation-name: pulse2;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse2 {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
.floating-arrow {
  animation-name: floating-arrow;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-arrow {
  from {
    transform: translate(-50%, 0)
  }
  65% {
    transform: translate(-50%, 15px)
  }
  to {
    transform: translate(-50%, 0)
  }
}
.floating-logo {
  animation-name: floating-logo;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes floating-logo {
  from {
    transform: translate(-50%, 0)
  }
  50% {
    transform: translate(-50%, 10px)
  }
  to {
    transform: translate(-50%, 0)
  }
}

/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
  visibility: hidden
}
.wp8, .wp9 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible
}

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer
}
.nav-toggle:focus {
  outline: none
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer
}
.nav-toggle span:before {
  top: -10px
}
.nav-toggle span:after {
  bottom: -10px
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out
}
.nav-toggle.active span {
  background-color: transparent
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0
}
.nav-toggle.active span:before {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg)
}
.nav-toggle.active span:after {
  top: 10px;
  -moz-transform: translatey(-10px) rotate(-45deg);
  -ms-transform: translatey(-10px) rotate(-45deg);
  -o-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg)
}
.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  transition: all 300ms ease-in-out;
}

/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 750px;
  background: url('../img/hero-min.jpg') center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;

  /*.rsvp-btn {
    position: absolute;
    bottom: 100px;
    left: 50%;
  }*/
  .down-arrow a {
    color: $txt-light;
  }
  h1 {
    color: $txt-light;
    margin-bottom: 40px;
  }
  p.intro {
    color: $txt-light;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px;
  }
  .hero-content {
    padding-top: 40%;
  }
  .hero-content img {
    width: 55%;
    margin-bottom: 12%;
  }
}
.navigation {
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.fixed {
  position: fixed;
  background-color: rgba(55, 36, 40, .88);
  z-index: 999;
  width: 100%;
}
header {
  padding: 50px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  transition: padding 300ms ease-in-out;

  a {
    color: $txt-light;
    text-transform: uppercase;
    font-size: $nav-font-size;

    &.login {
      margin-right: 20px;
    }
  }
  .logo {
    display: inline-block;
  }
  .logo img {
    height: 19px;
  }
  ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0;

    li {
      display: inline;

      a {
        color: $txt-light;
        padding-right: 25px;

        &:hover {
          color: $accent-color;
        }
      }
      &:last-child a {
        padding-right: 0px;
      }
    }
  }
  ul.member-actions {
    li {
      display: inline;

      a {
        color: $txt-light;

        &:hover {
          color: $accent-color;
        }
      }
    }
  }
  .header-nav {
    display: inline-block;
  }
  .member-actions {
    position: absolute;
    right: 0;
    top: 41px;
    transition: all 300ms ease-in-out;
  }
}
.down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

/* ==========================================================================
Social share buttons
========================================================================== */
.share-bar {
  margin-top: 20px;
}

/* ==========================================================================
Intro
========================================================================== */
.intro span.icon {
  font-size: 40px;
  color: $accent-color;
  font-weight: bold;
}
.intro-icon {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 0 0;
  margin-right: 20px;
  width: 40px;
}
.intro-content {
  display: inline-block;
  width: 80%;
}

#intro {
  padding-top: 40px;
  img {
    width: 100%;
    height: auto;
  }
}
#intro p {
  text-align: center;
}

/* ==========================================================================
Features-stack
========================================================================== */
.features {
  position: relative;

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  h3 {
    margin: 0 0 20px 0;
  }
  span.icon {
    font-size: 35px;
    color: $accent-color;
    font-weight: bold;
  }
  .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
    width: 35px;
  }
  .feature-content {
    display: inline-block;
    width: 75%;
  }
  .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px;
  }
  .intro-content {
    display: inline-block;
    width: 80%;
  }
  ul.features-stack {
    margin-top: 50px;
  }
  ul.features-stack li {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px $keyline-color;
  }
  ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none;
  }
  .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url("../img/ipad-device.png") no-repeat center center;
    z-index: 1;
  }
  .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url("../img/iphone6.png") no-repeat center center;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2;
  }
  .device-showcase {
    position: absolute;
    bottom: -365px;
    right: 61%;
  }
}
.features .responsive-feature-img, .features-extra .responsive-feature-img {
  display: none;
}
.devices {
  position: relative;
}

/* ==========================================================================
.features-extra
========================================================================== */
.features-extra {
  position: relative;
  z-index: 3;

  .btn {
    margin-top: 20px;
  }
  .macbook-wrap {
    position: absolute;
    width: 916px;
    height: 540px;
    background: url("../img/macbook-pro.png") no-repeat center center;
    top: 114px;
    z-index: 4;
    left: 50%;
  }
}

/* ==========================================================================
.hero-strip
========================================================================== */
.hero-strip {
  margin-top: 120px;
  background: #333844 url("../img/polygonal-bg.jpg") no-repeat center center;
  padding-bottom: 190px;
  position: relative;

  i {
    font-family: $accent-font;
    font-weight: 300;
    font-size: 25px;
    color: #F69D52;
    vertical-align: top;
    margin-left: -8px;
    font-style: normal;
  }
  h2 {
    color: #fff;
    margin: 0 0 20px 0;
  }
  p {
    color: #ACB1B4;
  }
  .btn {
    margin-top: 10px;
  }
  .logo-placeholder {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -285px;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ==========================================================================
.events
========================================================================== */
.events {
  .leftcol {
    padding-right: 100px;
    border-right: solid 1px $keyline-color;
  }
  .rightcol {
    padding-left: 100px;
  }

  .time {
    font-size: 13px;
    font-style: italic;
    text-transform: lowercase;
    color: $txt-primary;
  }
}

/* ==========================================================================
.blog
========================================================================== */
.blog {
  padding-bottom: 120px;

  img {
    width: 100%;
    height: auto;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  h2 {
    font-size: $blog-post-title;
    color: $txt-accent;
    font-weight: $semibold;
    text-transform: uppercase;
    margin-top: 35px;
  }
  .btn {
    margin-top: 20px;
  }
  .blog-img-wrap {
    position: relative;
    overflow: hidden;

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($white-color, 0.5);
      -moz-transition: all 300ms ease-in-out;
      -o-transition: all 300ms ease-in-out;
      -webkit-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
    }
    i {
      color: $white-color;
      font-size: 20px;
      position: absolute;
      width: 20px;
      height: 20px;
      top: 25px;
      right: 35px;
    }
  }
  .blog-img-wrap:hover img, .blog-img-wrap:focus img {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .blog-img-wrap:hover .overlay, .blog-img-wrap:focus .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    z-index: 9;
  }
  figcaption i {
    margin-left: 5px;
    font-size: 15px;
  }
  figcaption a.blog-post-title {
    color: $txt-primary;
  }
  figcaption a.blog-post-title:hover, figcaption a.blog-post-title:focus {
    color: $txt-secondary;
  }
}

/* ==========================================================================
Instagram
========================================================================== */
#instagram {
  img {
    width: 100%;
  }
}

/* ==========================================================================
Engagement Pics
========================================================================== */
#eng-pics {
  img {
    width: 100%;
    height: auto;
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  .img-wrap {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
  }
  .img-wrap .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    -moz-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0; }
  .img-wrap i {
    color: #fff;
    font-size: 15px;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 6px;
    right: 6px; }
  .img-wrap:hover img, .img-wrap:focus img {
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .img-wrap:hover .overlay, .img-wrap:focus .overlay {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    filter: alpha(opacity=1);
    opacity: 1;
    z-index: 9; }
  .diamond {
    width: 230px;
    height: 230px;
    position: absolute;
    bottom: -145px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 500;
  }
  .ring {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    border: 10px solid #d0d3d4;
    position: absolute;
    left: 34%;
    top: 75%;
    z-index: -1;
  }
}

/* ==========================================================================
Embed video
========================================================================== */
#video-bg {
  height: 300px;
}
#video-content {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  position: relative;
  background: rgba(17, 17, 17, 0.5);
  text-align: center;
}
#video-content h5 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 10px;
}
#video-content p {
  color: #ffffff;
}

/* ==========================================================================
Google map
========================================================================== */
#map-canvas {
  height: 500px;
  width: 100%;
}
#map-content-wrapper {
  position: relative;
  margin-top: -502px;
  margin-bottom: 150px;
}
#map-content {
  margin-top: 40px;
  padding: 50px 60px;
  background: #fff;
  -webkit-transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
}
#btn-show-content {
  padding: 20px;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  -webkit-transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
  transition: opacity 0.5s, visibility 0.6s, margin-top 0.5s;
}
.toggle-map-content {
  opacity: 0;
  visibility: hidden;
}
.pointer-events-none {
  pointer-events: none;
}
.pointer-events-auto {
  pointer-events: auto;
}

/* ==========================================================================
RSVP form
========================================================================== */
.rsvp {
  padding-bottom: 140px;
  .rsvp-form {
    .rsvp-btn {
      padding: 15px 0;
      border-radius: 3px;
      width: 100%;
      font-size: 13px;
    }
    .form-input-group {
      width: 100%;
      height: 55px;
      margin: 0 auto 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      border: solid 1px $keyline-color;
      text-align: left;
      position: relative;

      i {
        color: $accent-color;
        font-size: 14px;
      }
      i:after {
        content: "";
        height: 30px;
        width: 1px;
        border-right: solid 1px $keyline-color;
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
      }
      i.fa-user, i.fa-users, i.fa-envelope, .fa-key {
        font-size: 14px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 20px;
      }
      input {
        padding-left: 68px;
        width: 100%;
        height: 100%;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: none;
      }
      input::-webkit-input-placeholder {
        color: $form-placeholder;
      }
      input:-moz-placeholder {
        color: $form-placeholder;
      }
      input::-moz-placeholder {
        color: $form-placeholder;
      }
      input:-ms-input-placeholder {
        color: $form-placeholder;
      }
    }
  }
}

/* ==========================================================================
Footer
========================================================================== */
footer {
  .content {
    border-top: 1px solid $keyline-color;
    padding-bottom: 20px;
  }
  .to-top-wrapper {
    font-size: 30px;
    display: block;
    cursor: pointer;
    margin: -25px auto 50px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid $keyline-color;
    background: #fff;
  }
  .to-top-wrapper .to-top {
    display: block;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
  .to-top-wrapper .to-top:hover {
    margin-top: -5px;
  }
  span.fa-heart {
    color: #ff415c;
    font-size: 18px;
    margin: 0 2px;
  }
}

/* ==========================================================================
Bootstrap override
========================================================================== */
body.modal-open {
  padding-right:0 !important;
}
.modal-body {
  padding:25px;
}