// Colours partial

// Text colours
$txt-primary: rgba(36, 114, 204, 0.6);
// body font
$txt-secondary: #1742a6;
// heading font
$txt-light: #fff;
// header/hero
$txt-accent: #4990bc;
$form-placeholder: #BCC1C3;
// form placeholder text
// Global colours
$accent-color: #4473e1;
// global accent colour
$accent-color-hover: #4473e1;
// global accent colour hover
$white-color: #fff;
$black-color: #000;
// Typography colours
$h2-color: #264da9;
$h3-color: #264da9;
$h5-color: #264da9;
// Layout colours
$section-light: #fff;
$section-dark: #f8f9fd;
$to-top-bg: #0035b1;
$footer-primary: #264da9;
$footer-secondary: #264da9;
// Keylines
$keyline-color: #E6E9EA;
$footer-keyline-color: #4E566C;