// Layout variables partial

$section-padding: 40px 0;

section.intro, section.features-extra, section.rsvp {
	background: $section-light;
}
section.features, section.events, section.blog {
	background: $section-dark;
}